$bg-color: #09121B;
$font-color: #fff;
$primary-color: #C1B844;
$overlay: rgba(0, 0, 0, 0.3);
$banner-size: 800px;

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

body {
	background: $bg-color;
	color: $font-color;
}

hr.light {
 border-top:1px solid #d5d5d5;
 width:75%;
 margin-bottom:1rem
}

.navbar {
	border-bottom: $primary-color 3px solid;
	opacity: 0.9;

	.logo-img {
		max-height: 40px;
	}
}

#home-head {
	background-image: url(../img/bg.jpg);
	min-height: $banner-size;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;


	.overlay {
		background-color: $overlay;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: $banner-size;
	}
	.home-inner {
		
	}
	.title {
		text-transform: uppercase;
		display: block;

		h1 {
			margin-top: 30%;
			font-size: 50px;
			font-weight: 600;
			letter-spacing: 5px;
			position: relative;
			/*TODO title animation*/
		}

		h2 {
			font-size: 30px;
			font-weight: 600;
			letter-spacing: 4px;
		}
		@media (max-width: 768px) {
			h1 {
				font-size: 35px;
				font-weight: 600;
				letter-spacing: 3px;
			}

			h2 {
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 2px;
			}
		}
		@media (max-width: 576px) {
			h1 {
				margin-top: 50%;
				font-size: 25px;
				font-weight: 600;
				letter-spacing: 3px;
			}

			h2 {
				font-size: 15px;
				font-weight: 600;
				letter-spacing: 2px;
			}
		}
	}
}

#skills-head {
	background-color: $bg-color;
	border-bottom: $primary-color 3px solid;
	border-top: $primary-color 3px solid;
	min-height: 11em;
	opacity: 0.9;
	.row1,
	.row2 {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.ico-cont {
		height: 5em;
		width: 5em;
	}
	i {
		font-size: 5em;
	}
	@media (max-width: 576px) {
		i {
			font-size: 3.5em;
		}		
	}
}

#projects-head {
	margin-top: 5em;
	.cokiCard {
		margin-top: 1em;
		text-align: center;
		min-height: 200px;
		cursor: pointer;
		position: relative;
	}
	.cokiCard-wrap {
		padding: 2em;
	}
	.cokiCard-img {
		position: relative;
	    z-index: 1;
	    height: 100%;
	    top: 0;
	    left: 0;
	}
	.cokiCard-front,
	.cokiCard-back {
		width: 100%;
		height: 100%;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		position: absolute;
		transition: transform 600ms linear;
	}
	.cokiCard-front {
		transform: perspective(600px) rotateY(0deg);
	}
	.cokiCard-back {
		transform: perspective(600px) rotateY(180deg);
	}
	.cokiCard-backCont {
		margin: 0 auto;
		padding-top: 2em;
		background-color: #379AD6;
		text-align: center;
		max-width: 20em;
		height: 100%;
	}
	.cokiCard:hover > .cokiCard-front {
		transform: perspective(600px) rotateY(-180deg);
	}
	.cokiCard:hover > .cokiCard-back {
		transform: perspective(600px) rotateY(0deg);
	}
}

/*Font Awesome*/
.fa-css3-alt {
 color:#379AD6
}
.fa-html5 {
 color:#F16529
}
.fa-js {
 color:#F7E018
}
.fa-php {
 color:#666699
}
.fa-java {
 color:#F8781F
}
.fa-git-alt {
 color:#F05033
}
.fa-css3-alt:hover,
.fa-html5:hover,
.fa-js:hover,
.fa-php:hover,
.fa-java:hover,
.fa-git-alt:hover {
	transition-duration: 300ms;
	transition-property: color;
	transition-timing-function: ease-in;
 	color:#d5d5d5;
}
